---
import { getCollection, render } from "astro:content";
import type {
  InferGetStaticParamsType,
  InferGetStaticPropsType,
  GetStaticPaths,
} from "astro";

import SplitScreenLayout from "../../layouts/SplitScreenLayout.astro";
import RatingBox from "../../components/RatingBox.astro";
import { actions } from "astro:actions";

// interface paginationFix {}

// export const getStaticPaths = (async ({ paginate }) => {
//   const ratings = await getCollection("ratingsCollection");
//   ratings.sort(
//     (a, b) => Date.parse(a.data.watchDate) - Date.parse(b.data.watchDate),
//   );
//   return paginate(ratings, { pageSize: 10 }); // Maps and splits 10 items per page
// }) satisfies GetStaticPaths;

// const { page } = Astro.props;

// page.data.forEach((rating, index) => {
//   console.log(`${rating.id}`);
// });

const ratings = await getCollection("ratingsCollection");
// ratings.sort(
//   (a, b) => Date.parse(a.data.watchDate) - Date.parse(b.data.watchDate),
// );

ratings.sort((a, b) => b.data.rating - a.data.rating);

ratings.forEach((rating, index) => console.log(rating.id));

const topRatings = ratings.filter((rating) => rating.data.rating > 90);
const bRatings = ratings.filter(
  (rating) => rating.data.rating <= 90 && rating.data.rating > 80,
);
const cRatings = ratings.filter(
  (rating) => rating.data.rating <= 80 && rating.data.rating > 70,
);
const dRatings = ratings.filter(
  (rating) => rating.data.rating <= 70 && rating.data.rating > 60,
);
const fRatings = ratings.filter(
  (rating) => rating.data.rating <= 60 && rating.data.rating > 40,
);
const trashRatings = ratings.filter((rating) => rating.data.rating <= 40);

topRatings.sort(
  (a, b) =>
    b.data.rating - a.data.rating || a.data.title.localeCompare(b.data.title),
);

topRatings.sort(
  (a, b) =>
    b.data.rating - a.data.rating || a.data.title.localeCompare(b.data.title),
);

bRatings.sort(
  (a, b) =>
    b.data.rating - a.data.rating || a.data.title.localeCompare(b.data.title),
);

cRatings.sort(
  (a, b) =>
    b.data.rating - a.data.rating || a.data.title.localeCompare(b.data.title),
);

dRatings.sort(
  (a, b) =>
    b.data.rating - a.data.rating || a.data.title.localeCompare(b.data.title),
);

fRatings.sort(
  (a, b) =>
    b.data.rating - a.data.rating || a.data.title.localeCompare(b.data.title),
);

trashRatings.sort(
  (a, b) =>
    b.data.rating - a.data.rating || a.data.title.localeCompare(b.data.title),
);
---

<SplitScreenLayout>
  <div class="leftContainer">
    <h1>Ratings List</h1>
    <div class="descSection">
      <div class="sectionList">
        <a href="#Excellent"><p>91 - 100</p></a>
        <p>|</p>
        <a href="#Great"><p>81 - 90</p></a>
        <p>|</p>
        <a href="#VeryGood"><p>71 - 80</p></a>
        <p>|</p>
        <a href="#Good"><p>61 - 70</p></a>
        <p>|</p>
        <a href="#Average"><p>41 - 60</p></a>
        <p>|</p>
        <a href="#Terrible"><p>0 - 40</p></a>
      </div>
      <p id="ratingsDesc">
        This place will contain all of the ratings that I already have
        completed. <span id="spoilReminder"
          >Do not click the reviews if you do not want to be spoiled.</span
        >
      </p>
    </div>
    <h2 id="Excellent">Excellent (91 - 100)</h2>
    <ul>
      {
        topRatings.map((rating) => (
          <li>
            <a href={rating.id}>{rating.data.title}</a>
            <span class="inlineInfo">(dir. {rating.data.director})</span>
            <span>
              <RatingBox rating={rating.data.rating} />
            </span>
          </li>
        ))
      }
    </ul>
    <h2 id="Great">Great (81 - 90)</h2>
    <ul>
      {
        bRatings.map((rating) => (
          <li>
            <a href={rating.id}>{rating.data.title}</a>
            <span class="inlineInfo">(dir. {rating.data.director})</span>
            <span>
              <RatingBox rating={rating.data.rating} />
            </span>
          </li>
        ))
      }
    </ul>
    <h2 id="VeryGood">Very Good (71 - 80)</h2>
    <ul>
      {
        cRatings.map((rating) => (
          <li>
            <a href={rating.id}>{rating.data.title}</a>
            <span class="inlineInfo">(dir. {rating.data.director})</span>
            <span>
              <RatingBox rating={rating.data.rating} />
            </span>
          </li>
        ))
      }
    </ul>
    <h2 id="Good">Good (61 - 70)</h2>
    <ul>
      {
        dRatings.map((rating) => (
          <li>
            <a href={rating.id}>{rating.data.title}</a>
            <span class="inlineInfo">(dir. {rating.data.director})</span>
            <span>
              <RatingBox rating={rating.data.rating} />
            </span>
          </li>
        ))
      }
    </ul>
    <h2 id="Average">Average (41 - 60)</h2>
    <ul>
      {
        fRatings.map((rating) => (
          <li>
            <a href={rating.id}>{rating.data.title}</a>
            <span class="inlineInfo">(dir. {rating.data.director})</span>
            <span>
              <RatingBox rating={rating.data.rating} />
            </span>
          </li>
        ))
      }
    </ul>
    <h2 id="Terrible">Terrible (0 - 40)</h2>
    <ul>
      {
        trashRatings.map((rating) => (
          <li>
            <a href={rating.id}>{rating.data.title}</a>
            <span class="inlineInfo">(dir. {rating.data.director})</span>
            <span>
              <RatingBox rating={rating.data.rating} />
            </span>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="rightContainer">
    <p>
      Ratings here are determined on a 100-point scale. However, I try to avoid
      using numbers between the tens as much as possible. If I do give a score
      in between, it will likely be some number of 5 in between. The main
      exception are the movies in the 91-100 range, as those are my favorites.
      Don't take it as a metric for how long the reviews/analyses may be, as I
      might write more for a terrible movie than one that is fantastic
      sometimes.
    </p>
    <p>
      I definitely rate arthouse movies differently from fun movies. It would be
      pointless to compare the two, so you may see varying scores depending on
      the movie.
    </p>
  </div>
</SplitScreenLayout>

<style>
  li span {
    display: inline-flex;
    align-items: center;
    white-space: nowrap; /* Prevents the component inside the span from breaking into a new line */
  }

  li {
    font-size: 1.15rem;
    line-height: 1.1rem;
  }

  a {
    text-decoration: none;
    color: white;
    transition: color 0.25s ease-in;
  }

  a:hover {
    color: #beb7a4;
  }

  .leftContainer {
    max-width: 70%;
  }

  .rightContainer {
    max-width: 30%;
    font-size: 1rem;
    padding-top: 4rem;
    margin-bottom: auto;
  }

  .pageNav {
    margin: auto;
  }

  .inlineInfo {
    font-size: 0.9rem;
    color: #faf6cf;
  }

  .sectionList {
    display: flex;
    justify-content: flex-start;
    font-size: 0.7rem;
    gap: 0.5rem;
  }

  .descSection {
  }

  #spoilReminder {
    font-weight: 800;
    font-size: 0.95rem;
    color: #ff5f15;
  }

  #ratingsDesc {
    max-width: 80%;
  }

  @media screen and (max-width: 860px) {
    li {
      line-height: 1.4rem;
    }

    .leftContainer {
      max-width: 90%;
    }

    .rightContainer {
      max-width: 76%;
      padding-top: 0;
    }

    #ratingsDesc {
      max-width: 100%;
    }
  }
</style>
