---
import { getCollection, render } from "astro:content";

import GenLayout from "../layouts/GenLayout.astro";
import BlogCard from "../components/BlogCard.astro";
import { Image } from "astro:assets";
import LandingImage from "../assets/shots/umberto-d1.jpg";

const posts = await getCollection("ratingsCollection");
posts.sort((a, b) => Date.parse(b.data.watchDate) - Date.parse(a.data.watchDate))
const latestPosts = posts.slice(0, 3);
---

<GenLayout>
  <Image
    src={LandingImage}
    alt="Mr. Umberto begs, Umberto D. (1952)"
    class="landingImage"
  />

  <h1>Latest Reviews</h1>
  <div class="postsGrid">
    {
      latestPosts.map((post) => (
        <BlogCard
          title={post.data.title}
          director={post.data.director}
          description={post.data.description}
          id=`/movie-blog/ratings/${post.id}`
        />
      ))
    }
  </div>
</GenLayout>

<style>

  .landingImage {
    max-width: 100svw;
    height: auto;
  }

  .postsGrid {
    display: grid;
    width: 90%;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr auto;
    column-gap: 1rem;
    row-gap: 3rem;
  }
</style>
