---
import BiggerRatingBox from "../components/BiggerRatingBox.astro";
import PageLayout from "./PageLayout.astro";
import { Font } from "astro:assets";

const { frontmatter } = Astro.props;

let genres = frontmatter.genres;
let tags = frontmatter.tags;

const capitalizeGenre = (g: string) => {
  if (g == 'lgbtq+') {
    return 'LGBTQ+'
  } else {
    return g.charAt(0).toUpperCase() + g.slice(1)
  }
}

const tagDisplay = (t: string) => {
  return t.replaceAll("-", " ");
};
---

<PageLayout>
  <a href="/movie-blog/ratings"><p id="returnLink">RATINGS</p></a>
  <h1>{frontmatter.title}</h1>
  <div class="genreRow"></div>
  <BiggerRatingBox rating={frontmatter.rating} />
  <h3 class="descSect">{frontmatter.description}</h3>
  <div class="genreRow">
    {genres.map((genre: string) => <a href=`/movie-blog/genres/${genre}`><div class="genreButton">{capitalizeGenre(genre)}</div></a>)}
  </div>
  <div class="mainText">
    <slot />
  </div>
  {tags != null && <p>Tags</p>}
  <div class="tagList">
    <!-- {tags != null && tags.map((tag: string) => <a href=`/movie-blog/tags/${tag}`><div class="tagBtn">{tag}</div></a>)} -->
    {tags != null && tags.map((tag: string) => <a href=`/movie-blog/tags/${tag}`><div class="tagBtn">{tagDisplay(tag)}</div></a>)}
  </div>
</PageLayout>

<style>
  body {
    width: 100%;
    height: 100%;
  }

  h3 {
    font-size: 1.2em;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .descSect {
    font-weight: normal;
    font-style: italic;
  }

  .mainText {
    font-size: 1.15rem;
  }

  .genreRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 1%;
    row-gap: 5px;
  }

  .genreButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #547a95;
    color: white;
    transition:
      background-color 0.25s ease-in,
      color 0.25s ease-in;
    border-radius: 5px;
    font-family:
      var(--font-lato),
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }

  .genreButton:hover {
    background-color: #e8edf2;
    color: black;
  }

  .tagList {
    display: flex;
    flex-direction: row;
    gap: 1%;
    row-gap: 5px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .tagBtn {
    background-color: #547a95;
    padding: 0.25rem;
    transition:
      background-color 0.25s ease-in,
      color 0.25s ease-in;
    border-radius: 5px;
    font-size: 0.95rem;
    white-space: nowrap;
  }

  .tagBtn:hover {
    background-color: #e8edf2;
    color: black;
  }

  #returnLink {
    font-size: 0.75rem;
    color: white;
  }

  #returnLink:hover {
    text-decoration: underline;
  }

  @media screen and (max-width: 440px) {
    .tagList {
      justify-content: center;
    }
  }
</style>
